{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
  {% translate "Login" %}
{% endblock title %}

{% block body %}
  <main id="np-content" class="d-flex align-content-center justify-content-center container-fluid np-page-width vh-100">
    <form novalidate class="m-auto w-50 p-4 rounded rounded-3 shadow shadow-lg" method="post"
          action="{% url 'login' %}">
      {% csrf_token %}
      <h3 class="h3 fw-bold mb-5 text-center">{% translate "Please sign in" %}</h3>
      {% crispy form %}
      <input type="submit" class="w-100 mt-5 mb-2 btn btn-primary" value="{% translate "Login" %}"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </main>
{% endblock %}
