{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
  {% translate "Change Password" %}
{% endblock title %}

{% block body %}
  <main id="np-content" class="d-flex align-content-center justify-content-center container-fluid np-page-width vh-100">
    <form novalidate class="m-auto w-50 p-4 rounded rounded-3 shadow shadow-lg" method="post"
          action="{% url 'password_change' %}">
      {% csrf_token %}
      <h3 class="h3 fw-bold mb-5 text-center">{% translate "Change Password" %}</h3>
      {% crispy form %}
      <div class="d-flex mt-5 mb-2 ">
        <button type="submit"
                class="btn btn-primary flex-grow-1">
          {% translate "Submit" context "form submission" %}
        </button>
        <div class="me-2"></div>
        <a type="button" href="javascript:window.history.back()"
           class="btn btn-secondary flex-grow-1">{% translate "Cancel" %}</a>
      </div>
    </form>
  </main>
{% endblock %}
