:root {
    --xx-form-width: 360px;
    --np-border-color: rgba(0, 0, 0, 0.15);
    --sticky-bar-height: 0px; /* set via js after page load */
    --page-height: calc(100vh - var(--sticky-bar-height));
    --bs-tag-rgb: 111, 66, 193;
}

@media (min-width: 576px) {
    #np-content {
        min-height: var(--page-height);
        height: var(--page-height);
    }
}

/*html, body {*/
/*    height: 100%;*/
/*}*/

.np-inline-form {
    width: var(--xx-form-width);
}

.np-page-width {
    max-width: 992px; /* bootstrap lg */
    min-width: 576px; /* bootstrap sm */
}

.np-hr-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--np-border-color);
}

/* we use |linebreaks filter card-body to show comment as <p>s which produces extra spaces at the bottom */
.card-body p:last-child {
    margin-bottom: 0 !important;
}

/* Stylistic alternates (ss02). to test via inputs to show persian numbers, but get english characters */
.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.np-bg-dark-900 {
    background-color: #343a40;
}

.np-bg-gray {
    background-color: #e9ecef;
}

.np-border-secondary {
    border-color: var(--np-border-color);
}

.np-menu > .nav-item .active, .np-menu > .nav-link.active {
    background-color: var(--bs-primary);
    /*border-color: #fff;*/
    /*border-left: 5px solid #dee2e6 !important;*/
}

.np-menu .nav-link {
    color: rgba(255, 255, 255, 0.55);
}

.np-menu .nav-link:hover, .np-menu .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.np-menu .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.np-menu .show > .nav-link,
.np-menu .nav-link.active {
    color: #fff;
}

.np-menu .navbar-text {
    color: rgba(255, 255, 255, 0.55);
}

.np-menu .navbar-text a,
.np-menu .navbar-text a:hover,
.np-menu .navbar-text a:focus {
    color: #fff;
}

hr {
    margin: 0.5rem 0 !important;
}

.toast {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

.popover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75) !important;;
}


.bg-tag {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tag-rgb), var(--bs-bg-opacity)) !important;
}

.btn-tag {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-tag:hover {
    color: #fff;
    background-color: #5e38a4;
    border-color: #59359a;
}

/*.btn-check:focus + .btn-tag, .btn-tag:focus {
    color: #fff;
    background-color: #5e38a4;
    border-color: #59359a;
    box-shadow: 0 0 0 0.25rem rgba(133, 94, 202, 0.5);
}

.btn-check:checked + .btn-tag, .btn-check:active + .btn-tag, .btn-tag:active, .btn-tag.active, .show > .btn-tag.dropdown-toggle {
    color: #fff;
    background-color: #59359a;
    border-color: #533291;
}

.btn-check:checked + .btn-tag:focus, .btn-check:active + .btn-tag:focus, .btn-tag:active:focus, .btn-tag.active:focus, .show > .btn-tag.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(133, 94, 202, 0.5);
}

.btn-tag:disabled, .btn-tag.disabled {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-tag {
    color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-tag:hover {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-check:focus + .btn-outline-tag, .btn-outline-tag:focus {
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.5);
}

.btn-check:checked + .btn-outline-tag, .btn-check:active + .btn-outline-tag, .btn-outline-tag:active, .btn-outline-tag.active, .btn-outline-tag.dropdown-toggle.show {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-check:checked + .btn-outline-tag:focus, .btn-check:active + .btn-outline-tag:focus, .btn-outline-tag:active:focus, .btn-outline-tag.active:focus, .btn-outline-tag.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.5);
}

.btn-outline-tag:disabled, .btn-outline-tag.disabled {
    color: #6f42c1;
    background-color: transparent;
}

.alert-tag {
    color: #432874;
    background-color: #e2d9f3;
    border-color: #d4c6ec;
}

.alert-tag .alert-link {
    color: #36205d;
}

.list-group-item-tag {
    color: #432874;
    background-color: #e2d9f3;
}

.list-group-item-tag.list-group-item-action:hover, .list-group-item-tag.list-group-item-action:focus {
    color: #432874;
    background-color: #cbc3db;
}

.list-group-item-tag.list-group-item-action.active {
    color: #fff;
    background-color: #432874;
    border-color: #432874;
}

.link-tag {
    color: #6f42c1;
}

.link-tag:hover, .link-tag:focus {
    color: #59359a;
}

.border-tag {
    border-color: #6f42c1 !important;
}*/
