@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/IRANSansXNoEn-Bold.woff2') format('woff');  /* All Major Browsers */
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/IRANSansXNoEn-Regular.woff2') format('woff');  /* All Major Browsers */
}

body {
    font-family: IRANSansX, var(--bs-font-sans-serif);
}

input, textarea, select, .form-row p, form .button {
    font-family: IRANSansX, var(--bs-font-sans-serif);
}

a {
    text-decoration: none !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    font-weight: bold;
}
