{% extends 'base_nav_sidemenu.html' %}
{% load jalali_tags %}
{% load static %}
{% load i18n %}
{% load customtemplates %}
{% block title %}
  {% translate "Article" %}
{% endblock %}

{% block sidemenu %}
  <script>
      document_ready(() => {
          init_tomselect();
      })
  </script>

  <div class="mx-2">
    <div id="np-article-tags" class="d-flex flex-wrap gap-1 overflow-auto me-0" style="max-height: 190px;"
         hx-get="{% url 'articles:article-tags' article.id %}"
         hx-target="this"
         hx-swap="innerHTML"
         hx-ext='path-deps'
         hx-trigger="load, path-deps"
         path-deps="articles/{{ article.id }}/tags/*"> {# triggered manually from np_article_tags.js file #}
    </div>

    <div class="mt-2"></div>
    {% translate "Add a tag" as i18n_TagHing %}
    <label for="np-search-tag" hidden>{{ i18n_TagHing }}:</label>
    <input type="text" id="np-search-tag" class="form-control-sm text-wrap" placeholder="{{ i18n_TagHing }}..."/>
    <div id="np-tag-validation-error" class="invalid-feedback invisible"></div>
    <hr/>

    {# Comment #}
    <div hx-get="{% url 'articles:article-comments' article.id %}"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML">
    </div>
  </div>
{% endblock sidemenu %}



{% block dynamic_content %}
  <div dir="ltr" class="row overflow-auto h-100">
    <input id="np_article_id" type="hidden" value="{{ article.id }}"/> {# np_article_tags.js needs article.id #}

    <div class="mt-3"></div>

    {# Article Main Info #}
    <h3 class="display-6">{{ article.title }}</h3>
    {% if article.subtitle %}
      <p class="text-muted fs-5">{{ article.subtitle }}</p>
    {% endif %}
    <div class="mt-4"></div>
    <div>{{ article.content|escape|linebreaks }}</div>

    <hr class="my-3"/>

    {# Article Extra Info #}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <div {% if LANGUAGE_BIDI %}dir="rtl{% endif %}">
      <div class="row mb-2">
        <div class="col col-sm-3 form-label">{% translate "Publish date" %}:</div>
        <div class="col col-sm-9 align-self-center">
          {{ article.publish_date|to_jalali:'%d %B %Y'|l10n_nums }}
        </div>
      </div>

      <div class="row mb-2">
        {# TODO: add extra context to ArticleDetails tag, return original website name by getting Article.url #}
        <div class="col col-sm-3 form-label">{% translate "Crawled from" %}:</div>
        <div class="col col-sm-9 align-self-center">
          <a href="{{ article.url }}" target="_blank">{{ article.url|truncatechars:30 }} <i
              class="bi bi-box-arrow-up-right"></i></a>
        </div>
      </div>

      {% if article.keywords %}
        <div class="row mb-2">
          <div class="col col-sm-3 form-label">{% translate "Sites keywords" %}:</div>
          <div class="col col-sm-9 align-self-center">
            {% for keyword in article.keywords %}
              <span class="badge bg-secondary rounded-pill">{{ keyword }}</span>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if article.doi %}
        <div class="row mb-2">
          <div class="col col-sm-3 form-label">{% translate 'Paper' %}:</div>
          <div class="col col-sm-9 align-self-center">
            <a href="https://libgen.is/scimag/?q={{ article.doi|url_path|slice:"1:"|url_encoded }}" target="_blank">
              {% translate 'See in Libgen' %} <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
      {% endif %}

      {% if article.original_source %}
        <div class="row mb-2">
          <div class="col col-sm-3 col-form-label">{% translate "Originally published in" %}:</div>
          <div class="col col-sm-9 align-self-center">
            <a href="{{ article.original_source }}">
              {{ article.original_source|truncatechars:50 }}
            </a>
          </div>
        </div>
      {% endif %}

      {% for name, association in article.associations.items %}
        <div class="row mb-2">
          <div class="col col-sm-3 form-label">{% translate name %}:</div>
          <div class="col col-sm-9 align-self-center hstack gap-2"
               hx-select="#np-content"
               hx-target="#np-content"
               hx-swap="outerHTML"
               hx-push-url="true">
            <a class="link-dark"
               href="{% url 'articles:association-profile' pk=association.pk %}"
               hx-get="{% url 'articles:association-profile' pk=association.pk %}">
              {{ association.name }}
            </a>
            <a class="ms-auto text-nowrap"
               href="{% url 'articles:articles-by-association' association_id=association.pk %}"
               hx-get="{% url 'articles:articles-by-association' association_id=association.pk %}">
              <small>{% trans 'See related news' %}</small></a>
          </div>
        </div>
      {% endfor %}</div>

    <div class="mt-3"></div>
  </div>
{% endblock dynamic_content %}

{% comment %}<script>
      document_ready(() => {
          make_tab_active('');
          init_tomselect();
      })
  </script>{% endcomment %}

