{% extends 'articles/tab_articles.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load customtemplates %}
{% load jalali_tags %}
{% load crispy_forms_tags %}

{% block sidemenu %}
  {% with active_menu='textsearch' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block dynamic_content %}
  <div id="np-article-list">
    <div class="mt-3"></div>

    {# SEARCH INPUT #}
    <div class="row">
      <form method="get" enctype="application/x-www-form-urlencoded"
          {#            action="{% url 'articles:articles-text-search' %}"#}
            hx-get="{% url 'articles:articles-text-search' %}"
            hx-push-url="true"
            hx-swap="outerHTML"
            hx-target="#np-dynamic-content"
            hx-select="#np-dynamic-content">
        {#    {% crispy form %}#}
        <div class="row">
          <div class="mx-auto hstack gap-2 justify-content-center">
            <div class="col-md-8 flex-grow-1 flex-md-grow-0 mb-3">
              <div class="input-group">
                <label for="np-textsearch" hidden></label>
                <input id="np-textsearch" dir="ltr" type="text" name="q" maxlength="100" class="form-control"
                       value="{{ form.q.value|default_if_none:"" }}"/>
                <span class="input-group-text bg-primary bg-opacity-25 bi bi-search"
                      onclick="htmx.closest(this, 'form').requestSubmit()"></span>
              </div>
              <small class="form-text text-muted align-baseline">
                {{ form.q.help_text }}
              </small>
              {% trans form.q.field.widget.attrs.long_help_text as long_help_text %}
              <i class="bi bi-question-circle-fill text-primary"
                 data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus"
                 data-bs-html="true"
                 data-bs-content="{{ long_help_text|linebreaks }}">
              </i>
              {% if form.non_field_errors %}
                <div class="col-md-8 text-danger">
                  <span class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></span>
                  {{ form.non_field_errors.as_text|cut:"*" }}
                </div>
              {% endif %}
            </div>
            <div class="align-self-start btn btn btn-primary"
                 onclick="htmx.closest(this, 'form').requestSubmit()">
              {% trans 'Search' %}
            </div>
          </div>
          {# Force next columns to break to new line #}
          <div class="w-100"></div>
          <div class="col-auto me-auto">
            <span class="fs-6">{% translate 'More Filters' %}</span>
            <i class="small bi bi-caret-down-fill" role="button" data-bs-toggle="collapse"
               data-bs-target="#np-advanced-search-extra"></i>
          </div>
          <div class="w-100 mb-3"></div>
          <div id="np-advanced-search-extra"
               class="collapse row {% if show_advanced_filters %}show{% endif %}">
            <div class="col-12 col-lg-6">{{ form.journal|as_crispy_field }}</div>
            <div class="col-12 col-lg-6">{{ form.institution|as_crispy_field }}</div>
            <div class="col-12 col-lg-6">{{ form.funder|as_crispy_field }}</div>
            <div class="w-100"></div>
            <div class="col-12 col-lg-6">{{ form.include_comments|as_crispy_field }}</div>
            <div class="w-100"></div>
            <div class="col-auto">
              <button hx-disable type="button" class="btn btn-outline-danger"
                      onclick="reset_form(this.closest('form'))">
                {% translate 'Reset' context "Form reset" %}
              </button>
            </div>
          </div>
        </div>
        {{ form.media }}

        {% comment %} There is bug in Django autocomplete light, that, when widget is loaded after DOM, widget
        initialization is not done completely. So here's the hack to manually add the missig class.
        see https://github.com/yourlabs/django-autocomplete-light/issues/819
        {% endcomment %}
        <script>
            $('[data-autocomplete-light-function]:not(.select2-hidden-accessible)').addClass('select2-hidden-accessible')
        </script>
      </form>
      {% if article_list %}
        <div class="col-auto mx-auto">{% include 'export.html' %}</div>
      {% endif %}
    </div>

    {% comment %}
    We use form.is_valid() as non-existing empty() method. If form is empty, page is loaded for the first time, hence,
    we want to avoid showing "No result find" in raw_article_list
    {% endcomment %}
    {% if form.is_valid %}
      {% include 'raw_article_list.html' %}
    {% endif %}
  </div>
{% endblock %}


