{% if article.tags.all %}
  {% for tag in article.tags.all %}
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-tag pe-none">
        {{ tag.title }}
      </button>
      <button type="button" class="btn btn-tag"
              hx-confirm="Are you sure?"
              hx-swap="outerHTML"
              hx-target="closest .btn-group"
          {# remove single tag or reload all of tags? second is safer #}
              hx-delete="{% url 'articles:article-tag-addOrRemove' article.pk tag.pk %}">
        &times;
      </button>
    </div>
  {% endfor %}
{% endif %}
