{% extends 'base_nav_no_menu.html' %}
{% load crispy_forms_tags %}
{% load customtemplates %}
{% load i18n %}

{% block dynamic_content %}
  <div class="mt-3"></div>
  <div class="d-flex">
    <div class="flex-fill">
      <div class="vstack gap-4">
        <div>
          <div class="form-label">
            {% blocktranslate trimmed with association_label=object.association.type_object.label %}
              {{ association_label }} name
            {% endblocktranslate %}:
          </div>
          <hr/>
          <div> {{ object.association.name }}</div>
        </div>
        <div>
          <div class="form-label">{{ object|verbose_name:'custom_name' }}:</div>
          <hr/>
          <div> {{ object.custom_name }}</div>
        </div>
        <div>
          <div class="form-label">{{ object|verbose_name:'description' }}:</div>
          <hr/>
          <div> {{ object.description|default:'---' }}</div>
        </div>
        <div>
          <div class="form-label">{{ object|verbose_name:'country' }}:</div>
          <hr/>
          <div>{{ object.country.name|default:'---' }}</div>
        </div>
        <span><a class="btn btn-primary" style="min-width: 100px;"
                 href="{% url 'articles:association-profile-update' pk=object.pk %}"
                 hx-get="{% url 'articles:association-profile-update' pk=object.pk %}"
                 hx-select="#np-content"
                 hx-target="#np-content"
                 hx-swap="outerHTML"
                 hx-push-url="true">
          {% translate 'Edit' %}
        </a></span>
      </div>
    </div>

    <div class="mx-2"></div>
    <div>
      {% if object.icon %}
        <img src="{{ object.icon.url }}" width="300" height="300" style="object-fit: cover; object-position: center"
             class="rounded border border-secondary shadow shadow-lg" alt="{% translate 'Association image' %}">
      {% else %}
        <div class="position-relative rounded-3 bg-light bg-opacity-50 shadow shadow-lg"
             style="width: 300px; height: 300px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
               class="opacity-75 position-absolute top-50 start-50 translate-middle bi bi-image-alt"
               viewBox="0 0 16 16">
            <path
                d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"></path>
          </svg>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

