{% extends 'articles/tab_associations.html' %}
{% load customtemplates %}
{% load i18n %}

{% block dynamic_content %}
  <div class="mt-3"></div>
  <form method="get" enctype="application/x-www-form-urlencoded"
        hx-get="{{ request.path }}?{% replace_param page=1 %}"
        hx-push-url="true"
        hx-swap="outerHTML"
        hx-target="#np-dynamic-content"
        hx-select="#np-dynamic-content">
    <div class="col-md-6 mx-auto">
      <div class="input-group">
        <label for="np-textsearch" hidden></label>
        <input id="np-textsearch" dir="ltr" type="text" name="q" maxlength="100" class="form-control" autocomplete="off"
               value="{{ form.q.value|default_if_none:"" }}" required/>
        <span class="input-group-text bg-primary bg-opacity-25 bi bi-search"
              onclick="htmx.closest(this, 'form').requestSubmit()"></span>
      </div>
      <small class="form-text text-muted align-baseline">
        {% blocktranslate with filterable=active_menu_i18n %}Filter {{ filterable }} by part of their name{% endblocktranslate %}
      </small>
    </div>
  </form>
  {% if association_list %}
    <div class="mt-3"></div>
    <div class="list-group list-group-flush rounded-3">
      {% for association in association_list %}
        <div class="list-group-item list-group-item-action text-reset clearfix" dir="ltr">
          {% get_current_language as LANGUAGE_CODE %}
          <a dir="{% if LANGUAGE_CODE == 'fa' %}rtl{% else %}ltr{% endif %}"
             class="mb-2 {% if LANGUAGE_CODE == 'fa' %}float-start me-4{% else %}float-end ms-4{% endif %}"
             href="{% url 'articles:articles-by-association' association.id %}"
             hx-get="{% url 'articles:articles-by-association' association.id %}"
             hx-select="#np-body"
             hx-target="#np-body"
             hx-swap="outerHTML"
             hx-push-url="true">
            {{ association.article_count|l10n_nums }} {% translate 'article' %}
          </a>
          {% if association.profile and association.profile.icon %}
            <img width="60px" height="60px" src="{{ association.profile.icon.url }}"
                 class="rounded-3 {% if LANGUAGE_CODE == 'fa' %}float-start me-4{% else %}float-end ms-4{% endif %}"
                 alt="{% translate 'Association image' %}">
          {% endif %}
          <a class="text-reset text-decoration-none"
             href="{% url 'articles:association-profile' pk=association.id %}"
             hx-get="{% url 'articles:association-profile' pk=association.id %}"
             hx-select="#np-body"
             hx-target="#np-body"
             hx-swap="outerHTML"
             hx-push-url="true">
            {{ association.name }}
          </a>
          {% if association.profile %}
            <div class="mt-1 text-muted">{{ association.profile.custom_name }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="mt-3"></div>
    {% include 'pagination.html' %}
  {% else %}
    <h4 class="mt-5">{% translate 'No associations found' %}</h4>
  {% endif %}
{% endblock %}
