{% extends 'base_nav_no_menu.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block dynamic_content %}
  {#  <div class="mx-sm-auto col-md-8 col-sm-10 col flex-grow flex-sm-grow-0">#}
  <div class="mt-3"></div>
  <div id="div_id_name" class="mb-3">
    <label for="id_name" class="form-label">
      {% blocktranslate trimmed with association_label=association.type_object.label %}
        {{ association_label }} name
      {% endblocktranslate %}
    </label>
    <div class="card col-12 col-md-8">
      <div disabled class="card-body py-2 text-muted" dir="ltr">{{ association.name }}</div>
    </div>
    {#    <textarea readonly disabled type="text" class="form-control" name="name" id="id_name"#}
    {#              value="{{ association.name }}">#}
  </div>
  <div class="col-12 col-md-8">
    <form novalidate
        {% if form.is_multipart %}
          enctype="multipart/form-data" hx-encoding="multipart/form-data"
        {% endif %}
          hx-disinherit="*"
          hx-post="{{ action_url }}"
          hx-select="#np-content"
          hx-target="#np-content"
          hx-swap="outerHTML"
          hx-push-url="true">
      {% crispy form %}
      {#    {{ form.as_p }}#}
      <div class="mt-4"></div>
      <div class="hstack gap-3">
        <button disabled class="btn btn-primary" type="submit" style="min-width: 100px;">
          {% translate 'Confirm' context 'form submission' %}
        </button>
        <script>
            document_ready(() => {
                document.querySelector("form").addEventListener("input", toggleSubmit, false);
            })
        </script>
        {% if form.instance and form.instance.pk %}  {# means its from UpdateView #}
          <a class="btn btn-outline-danger" href="{{ cancel_url }}"
             hx-get="{{ cancel_url }}"
             hx-select="#np-content"
             hx-target="#np-content"
             hx-swap="outerHTML"
             hx-push-url="true">
            {% translate 'Cancel' %}
          </a>
        {% endif %}
      </div>
    </form>
  </div>
  {#  </div>#}
{% endblock %}
