{% extends 'base_nav_sidemenu.html' %}
{% load customtemplates %}
{% load i18n %}

{% block title %}
  {% translate "Tags" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='tags' %}
{% endblock %}

{% block sidemenu %}
  <div class="nav np-menu flex-column" role="tablist"
       hx-boost="true"
       hx-select="#np-content"
       hx-target="#np-content"
       hx-swap="outerHTML"
       hx-push-url="true">
    <a class="nav-link {% if active_menu == 'create_tag' %}active{% endif %}" type="button"
       href="{% url 'articles:tag-create' %}">
      {#       hx-target="#np-dynamic-content"#}
      {#       hx-get="{% url 'articles:tag-create' %}"#}
      {% translate "Create a new tag" %}
    </a>
    <hr/>

    <a class="nav-link {% if active_menu == 'all_tags' %}active{% endif %}" type="button"
       href="{% url 'articles:tags-all' %}">
      {% translate "All tags" %}
    </a>
    <a class="nav-link {% if active_menu == 'my_tags' %}active{% endif %}" type="button"
       href="{% url 'articles:tags-created-by-me' %}">
      {% translate "Created by me" %}
    </a>
    <a class="nav-link {% if active_menu == 'my_followed_tags' %}active{% endif %}" type="button"
       href="{% url 'articles:tags-followed-by-me' %}">
      {% translate "Followed by me" %}
    </a>
    <a class="nav-link {% if active_menu == 'meta_tags' %}active{% endif %}" type="button"
       href="{% url 'articles:tags-meta' %}">
      {% translate "Meta Tags" %}
    </a>
  </div>
{% endblock %}

{% block dynamic_content %}
{% endblock %}
