{% load i18n %}
{# first time we fetch comment in article template, so we have 'article object #}
{# next times this is got directly by ajax so we have to get article_id from path params #}

<div class="card border-dark text-dark bg-light mb-2"
     hx-target="this" {# to child nodes to inherit #}
     hx-swap="outerHTML">
  <div class="card-header d-flex align-items-baseline justify-content-between">
    <span>{% translate "Your comment" %}</span>
    <span>
      {% if comment %}
        <button class="btn btn-sm btn-outline-danger bi bi-trash"
                hx-post="{% url 'articles:article-usercomment-delete' comment.article.id %}"
                hx-confirm="Are you sure?">
        </button>
      {% endif %}
      <button class="btn btn-sm btn-outline-secondary bi bi-pen"
          {% if comment %}
              hx-get="{% url 'articles:article-usercomment-update' comment.article.id %}"
          {% else %}
            {# see get_context_data in CommmentCreateView #}
              hx-get="{% url 'articles:article-comment-create' article.id %}"
          {% endif %}>
      </button>
    </span>
  </div>
  <div class="card-body" style="min-height: 15rem;">
    {% if comment.content %}
      {{ comment.content|linebreaks|urlizetrunc:30 }}
    {% else %} {# &hellip; #}
      <span
          class="text-muted fs-6 fst-italic">{% translate "...No comment" context "as comment form placeholder" %}</span>
    {% endif %}
  </div>
</div>
