{% load i18n %}
{% include 'articles/comment_detail.html' with comment=user_comment %}
<hr class="my-2 dropdown-divider">
{% for comment in comments %}
  <div class="card border-dark text-dark bg-light mb-2"
       hx-target="this" {# to child nodes to inherit #}
       hx-swap="outerHTML">
    <div class="card-header d-flex align-items-baseline justify-content-between">
      <span>{{ comment.author }}</span>
    </div>
    <div class="card-body">
      {{ comment.content|linebreaks|urlizetrunc:30 }}
    </div>
  </div>
{% endfor %}
