{% load i18n %}
{% load crispy_forms_tags %}

<form class="card border-dark text-dark bg-light mb-2"
      hx-target="this" {# to child nodes to inherit #}
      hx-swap="outerHTML"
    {% if comment %}
      hx-post="{% url 'articles:article-usercomment-update' article.id %}"
    {% else %}
      hx-post="{% url 'articles:article-comment-create' article.id %}"
    {% endif %}>
  <div class="card-header d-flex align-items-baseline justify-content-between">
    <span>{% translate "Your comment" %}</span>
    <span>
      <button class="btn btn-sm btn-outline-danger bi bi-x-lg" {# TODO: or BS warning color ?#}
              hx-get="{% url 'articles:article-usercomment-details' article.id %}">
      </button>
      <button type="submit" class="btn btn-sm btn-outline-success bi bi-check-lg"></button>
    </span>
  </div>

  {% csrf_token %}
  {% crispy form %}
</form>
