{% extends 'base_nav_no_menu.html' %}
{% load i18n %}
{% load customtemplates %}
{% load jalali_tags %}

{% block title %}
  {% translate "Inbox" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='inbox' %}
{% endblock %}

{% block dynamic_content %}
  <div id="np-digest-list" class="mx-auto col col-sm-8">
    <div class="mt-3"></div>
    {# DIGEST LIST #}
    <div class="list-group list-group-flush rounded-3">
      {% for digest in digest_list %}
        <div class="list-group-item">
          <a class="stretched-link" href="{% url 'articles:digest-detail' digest.id %}"
             hx-get="{% url 'articles:digest-detail' digest.id %}"
             hx-select="#np-body"  {# because navbar active tab changes #}
             hx-target="#np-body"
             hx-swap="outerHTML"
             hx-push-url="true">
          </a>
          {% get_current_language as LANGUAGE_CODE %}
          <h5 class="p-2 ps-0 mb-2">
            {% if LANGUAGE_CODE == 'fa' %}
              {% blocktranslate trimmed with digest_date=digest.creation_date|to_jalali|l10n_nums %}
                Your digest from {{ digest_date }} is ready.
              {% endblocktranslate %}
            {% else %}
              {% blocktranslate trimmed with digest_date=digest.creation_date %}
                Your digest from {{ digest_date }} is ready.
              {% endblocktranslate %}
            {% endif %}
          </h5>
          <div class="mb-1">
            {% blocktranslate trimmed with article_count=digest.articles.all.count|l10n_nums %}
              Includes {{ article_count }} articles
            {% endblocktranslate %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-3"></div>
    {# PAGINATION #}
    {% include 'pagination.html' %}
  </div>
{% endblock dynamic_content %}
