{% extends 'base_nav_no_menu.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% translate "Reports" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='reports' %}
{% endblock %}

{% block dynamic_content %}
  <div class="mx-auto">
      <h3 class="text-center mb-3 mt-5">{{ plot_name|linebreaks }}</h3>
      {{ plot|safe }}
  </div>
{% endblock %}
