{% extends 'base_nav_sidemenu.html' %}
{% load customtemplates %}
{% load i18n %}

{% block title %}
  {% translate "Associations" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='associations' %}
{% endblock %}

{% block sidemenu %}
  <div class="nav np-menu flex-column" role="tablist"
       hx-boost="true"
       hx-select="#np-content"
       hx-target="#np-content"
       hx-swap="outerHTML"
       hx-push-url="true">
    <a class="nav-link {% if active_menu == 'journals' %}active{% endif %}" type="button"
       href="{% url 'articles:association-list' association_type='Journal' %}">
      {% translate "Journals" %}
    </a>
    <a class="nav-link {% if active_menu == 'institutions' %}active{% endif %}" type="button"
       href="{% url 'articles:association-list' association_type='Institution' %}">
      {% translate "Institutions" %}
    </a>
    <a class="nav-link {% if active_menu == 'funders' %}active{% endif %}" type="button"
       href="{% url 'articles:association-list' association_type='Funder' %}">
      {% translate "Funders" %}
    </a>
  </div>
{% endblock %}
