{% extends 'base_nav_sidemenu.html' %}
{% load customtemplates %}
{% load i18n %}

{% block title %}
  {% translate "Articles" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='articles' %}
{% endblock %}

{% block sidemenu %}
  <div class="nav np-menu flex-column" role="tablist"
       hx-boost="true"
       hx-select="#np-content"
       hx-target="#np-content"
       hx-swap="outerHTML"
       hx-push-url="true">
    <a class="nav-link {% if active_menu == 'textsearch' %}active{% endif %}"
       hx-boost="unset"
       hx-disable
       href="{% url 'articles:articles-text-search' %}">
      {% translate "Search news" %}
    </a>
    <hr/>

    <a class="nav-link {% if active_menu == 'all_articles' %}active{% endif %}"
       href="{% url 'articles:articles-all' %}">
      {% translate "All news" %}
    </a>
    <a class="nav-link {% if active_menu == 'interested_articles' %}active{% endif %}"
       href="{% url 'articles:articles-by-followed-tags' %}">
      {% translate "Tagged by my followed tags" %}
    </a>
    <a class="nav-link {% if active_menu == 'commented_articles' %}active{% endif %}"
       href="{% url 'articles:articles-commented' %}">
      {% translate "Commented" %}
    </a>
    <a class="nav-link {% if active_menu == 'commented_by_me_articles' %}active{% endif %}"
       href="{% url 'articles:articles-commented-by-me' %}">
      {% translate "Commented by me" %}
    </a>
  </div>
{% endblock %}
