{% extends 'base_nav_no_menu.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% translate "Reports" %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' with active_tab='reports' %}
{% endblock %}

{% block dynamic_content %}

  {#  {{ plot|safe }}#}

  <div class="d-flex flex-column h-100 w-100">
    <div class="align-self-stretch" id="np-collapse-container">
      {#      <div class="row row-cols-auto gap-2">#}
      <div class="mt-3"></div>
      <div class="btn-group" role="group">
        {% for entry in forms %}
          <input type="radio" class="col btn-check" name="{{ entry.name }}" id="id_{{ entry.name }}" autocomplete="off"
                 data-bs-toggle="collapse" data-bs-target="#np-report-{{ entry.name }}">
          <label class="btn btn-outline-primary" for="id_{{ entry.name }}">{{ entry.title }}</label>
        {% endfor %}
      </div>
      <div class="mt-3"></div>
      {% for entry in forms %}
        <div id="np-report-{{ entry.name }}" class="collapse" data-bs-parent="#np-collapse-container">
          <form class="card card-body bg-light" method="get" action="{{ entry.action }}">
            <div class="row row-cols-md-2 justify-content-md-between align-items-baseline">
              {% crispy entry.form entry.form_helper %}
              <div class="w-100"></div>
              <div class="col-auto mb-2">
                <button type="submit" class="btn btn-primary">
                  {% translate "Confirm" context "form submission" %}
                </button>
                <button hx-disable type="button" class="btn btn-outline-danger"
                        onclick="reset_form(this.closest('form'))">
                  {% translate 'Reset' context "Form reset" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      {% endfor forms %}
      {{ forms_media }}
      <script>
          {# uncheck the radio button on hiding #}
          window.addEventListener('hide.bs.collapse', function (e) {
              const target_id = `#${e.target.id}`
              const clicked_input = document.querySelector(`*[data-bs-target="${target_id}"]`)
              clicked_input.checked = false;
          })
      </script>
    </div>
    <div class="d-flex flex-column flex-grow-1 align-self-stretch justify-content-center">
      <div class="text-muted text-center bi bi-bar-chart-line-fill"
           style="font-size: 10rem;"></div>
      <div class="text-center text-muted h2">{% translate 'Choose report type from the top menu' %}</div>
    </div>
  </div>
  {#  <script>#}
  {#      console.log("before plot");#}
  {#      const plotly_div = $('.plotly-graph-div'); {% comment %}.on('plotly_afterplot', function(){console.log("after plot")});{% endcomment %}#}
  {#      console.log(plotly_div.width);#}
  {#  </script>#}
{% endblock %}
