{% load customtemplates %}
{% load l10n %}
{% load i18n %}

<div class="mt-3"></div>
<div class="d-flex flex-wrap align-items-baseline gap-3 gap-lg-0 justify-content-center justify-content-lg-between">
  {% if sortable %}
    <div class="d-inline-flex align-items-baseline">
      {% include 'sort.html' %}
    </div>
  {% endif %}
  <form class="flex-shrink-1" method="get" enctype="application/x-www-form-urlencoded"
        hx-get="{{ request.path }}?{% replace_param page=1 %}"
        hx-push-url="true"
        hx-swap="outerHTML"
        hx-target="#np-dynamic-content"
        hx-select="#np-dynamic-content">
    <div>
      <div class="input-group">
        <label for="np-textsearch" hidden></label>
        <input id="np-textsearch" dir="ltr" type="search" name="q" maxlength="25" class="form-control"
               autocomplete="off"
               value="{{ form.q.value|default_if_none:"" }}" required/>
        <span class="input-group-text bg-primary bg-opacity-25 bi bi-search"
              onclick="htmx.closest(this, 'form').requestSubmit()"></span>
        {#      <button type="button" class="btn-sm ms-2 btn-close position-absolute top-50 start-0 translate-middle-y"></button>#}
      </div>
      <small class="form-text text-muted align-baseline">
        {% translate 'Tags' as filterable %}
        {% blocktranslate %}Filter {{ filterable }} by part of their name{% endblocktranslate %}
      </small>
    </div>
  </form>
</div>
<div id="np-tag-list" class="d-flex flex-wrap gap-3 py-3 px-1"
     hx-get="{{ request.get_full_path }}"
     hx-ext='path-deps'
     hx-trigger="path-deps"
     hx-select="#np-dynamic-content"
     hx-target="#np-dynamic-content"
     hx-swap="outerHTML"
     hx-push-url="false"
     path-deps="/tags/*"> {# Reload this segment, with every non-get request to sent to /tags/ #}

  {% if tag_list %}
    {% for tag in tag_list %}
      {#      {% cycle 'btn-primary' 'btn-secondary' as bgcolor silent %} #}
      <div>
        <div class="btn-group">
          {#        <button type="button" class="btn {{ bgcolor }} disabled">{{ tag.title }}</button>#}
          <button type="button"
                  class="btn {% if tag.is_followed %} btn-success {% else %}btn-secondary {% endif %}
                   pe-none position-relative">
            {{ tag.title }}
            {% if tag.is_meta %}
              <span class="fw-normal
              position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
                M
              </span>
            {% endif %}
          </button>
          <button type="button" class="btn {% if tag.is_followed %} btn-success {% else %}btn-secondary {% endif %}"
              {% if tag.is_followed %}
                  hx-delete="{% url 'articles:tag-toggle-followership' tag.pk %}"
              {% else %}
                  hx-post="{% url 'articles:tag-toggle-followership' tag.pk %}"
              {% endif %}
                  hx-swap="none">
            {% if tag.is_followed %}
              <span class="bi bi-bookmark-x-fill"></span>
            {% else %}
              <span class="bi bi-bookmark-plus-fill"></span>
            {% endif %}
          </button>
        </div>
        <div><a class="text-muted fs-6" role="button"
                href="{% url 'articles:articles-by-tag' tag.id %}"
                hx-get="{% url 'articles:articles-by-tag' tag.id %}"
                hx-select="#np-body"
                hx-target="#np-body"
                hx-swap="outerHTML"
                hx-push-url="true">
          {{ tag.usages|l10n_nums }} {% translate 'article' %} {# TODO: use plurize but with ss02 class #}
        </a></div>
      </div>
    {% endfor %}
    {#  {% else %}#}
    {#  TODO use for..empty {% empty %}. should enable return_empty in ListView #}
    {#    TODO: 1. in All tags, Create one}#}
    {#    TODO: 2. in Created by me, Create one, but with different message#}
    {#    TODO: 3. in Followed by me, 'help image on following and redirect to all tags button' #}
    {#    <p class="lead">No tag! Create one</p>#}

  {% endif %}
</div>
{% include 'pagination.html' %}
