{% extends 'base_nav.html' %}
{% block content %}
  <div class="row row-cols-1 h-100">
    <section id="np-dynamic-content" class="col np-bg-gray h-100 overflow-auto">
      {% block dynamic_content %}
      {% endblock %}
    </section>
  </div>
{% endblock content %}
