{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"
      {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}{% endblock %}</title>
  {#------------------ META ----------------------#}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="htmx-config" content='{"timout":3000, "refreshOnHistoryMiss":"true"}'>
  {#------------------ CSS ----------------------#}
  <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>
  {% if LANGUAGE_BIDI %} {# RTL lang #}
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/bootstrap.rtl.min.css' %}">
  {% else %}
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/bootstrap.min.css' %}">
  {% endif %}
  <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/news-processor.css' %}"/>
  <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/tom-select.bootstrap5.min.css' %}">
  {% if LANGUAGE_CODE == 'fa' %}
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/news-processor-rtl-extra.css' %}"/>
  {% endif %}
  {% if LANGUAGE_BIDI %} {# RTL lang #}
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/select2-bootstrap-5-theme.rtl.min.css' %}">
  {% else %}
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'css/select2-bootstrap-5-theme.min.css' %}">
  {% endif %}
  {#------------------ JS ----------------------#}
  <script crossorigin="anonymous" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/htmx.min.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/path-deps.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/news_processor.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/np_list_sort.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/tom-select.complete.min.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/np_article_tags.js' %}"></script>
  <script crossorigin="anonymous" src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
{# Notification #}
<div id="np-notification-container" hx-swap-oob="true"
     class="container-fluid np-page-width mx-auto position-fixed top-100 start-50 translate-middle-x"
     style="z-index: 999">
  {% if messages %}
    {% for message in messages %}
      <div class="toast-container position-absolute bottom-0 end-0 p-3" style="z-index: 2000">
        <div class="toast {{ message.tags }} align-items-center text-white border-0 hide" {# shadow #}
             role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              {#        <img src="..." class="rounded me-2" alt="...">#}
              <div class="fs-6">{{ message }}</div>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<div id="np-body"> {# htmx doesn't work with hx-select="body" hx-target="body" #}
  {% block body %}{% endblock %}
</div>
{# https://www.mattlayman.com/blog/2021/how-to-htmx-django/ #}
{# https://github.com/bigskysoftware/htmx/issues/70#issuecomment-951462597 #}
<script>
    // htmx.config.timeout = 1;{# ms #}
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
    document.body.addEventListener('htmx:pushedIntoHistory', (evt) => {
        localStorage.removeItem('htmx-history-cache')
    })
</script>
</body>
</html>
