{% extends 'base_nav.html' %}
{% block content %}
  <div class="row row-cols-2 h-100">
    <aside id="np-dynamic-menu"
           class="col py-2 px-0 np-bg-dark-900 text-white align-self-stretch"
           style="flex: 1 0 240px;">
      {% block sidemenu %}
      {% endblock sidemenu %}
    </aside>

    <section id="np-dynamic-content" class="col np-bg-gray h-100 overflow-auto" style="flex: 3 0 auto;">
      {% block dynamic_content %}
      {% endblock dynamic_content %}
    </section>
  </div>
{% endblock content %}
