{% load i18n %}
<script>
    function updateExportLink() {
        const trigger = htmx.find('#np-export-link');
        const select = htmx.find("#np-exports")
        htmx.removeClass(trigger, 'disabled');
        trigger.href = select.options[select.selectedIndex].dataset.npLink
    }
</script>
{% if exports %}
  <div class="d-inline-flex align-items-baseline center-x-only-child">
    <label for="np-exports" class="form-label me-3">{% translate 'Export' %}</label>
    <select id="np-exports" class="form-select form-select-sm me-3"
            onchange="updateExportLink()">
      <option disabled selected>- {% translate 'Export type' %} -</option>
      {% for export in exports %}
        <option value={{ export.name }} data-np-link={{ export.link }}>{{ export.name_i18n }}</option>
      {% endfor %}
    </select>
    <a id="np-export-link" role="button" type="button"
       class="disabled btn btn-sm btn-primary"
       href="">{% translate 'Take' context "form submission" %}</a>
  </div>
{% endif %}
