{% load i18n %}
{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="mb-3{% if 'form-horizontal' in form_class %} row{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
           {# not field|is_radioselect in row below can be removed once Django 3.2 is no longer supported #}
            <label {% if field.id_for_label and not field|is_radioselect %}for="{{ field.id_for_label }}"{% endif %} class="{% if 'form-horizontal' in form_class %}col-form-label{% else %}form-label{% endif %}{% if label_class %} {{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field_class %}<div class="{{ field_class }} mb-2">{% endif %}
                {% for widget in field.subwidgets %}
                    {% if widget.data.is_initial %}
                        <div class="input-group mb-2">
                            <span class="input-group-text">{{ widget.data.initial_text }}</span>
                            <div class="form-control d-flex h-auto">
                                <span class="text-break" style="flex-grow:1;min-width:0">
                                    <a href="{{ field.value.url }}">{{ field.value.name }}</a>
                                </span>
                                {% if not widget.data.required %}
                                <span class="align-self-center ml-2">
                                    <span class="form-check">
                                        <input type="checkbox" name="{{ widget.data.checkbox_name }}" id="{{ widget.data.checkbox_id }}" class="form-check-input"{% if field.field.disabled %} disabled{% endif %} >
                                        <label class="form-check-label mb-0" for="{{ widget.data.checkbox_id }}">{{ widget.data.clear_checkbox_label }}</label>
                                    </span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-flex flex-nowrap {% if field.errors %}is-invalid{%endif%}">
                        <input type="{{ widget.data.type }}" name="{{ widget.data.name }}" class="form-control w-auto flex-grow-1{% if widget.data.attrs.class %} {{ widget.data.attrs.class }}{% endif %}{% if field.errors %} is-invalid{%endif%}"{% if field.field.disabled %} disabled{% endif %}{% for name, value in widget.data.attrs.items %}{% if value is not False and name != 'class' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
                        {% include 'bootstrap5/layout/help_text_and_errors.html' %}
                        <button hx-disable type="button" class="btn btn-sm btn-danger" onclick="clearFileInput(this)">
                          {% translate 'Clear selection' %}
                        </button>
                        <script>
                          function clearFileInput(clearButton) {
                              console.log(clearButton);
                              const fileInput = clearButton.parentElement.querySelector('input');
                              fileInput.value = '';
                              fileInput.onchange.call(fileInput);
                              {#fileInput.dispatchEvent(new Event('change'));#}
                          }
                        </script>
                    </div>
                {% endfor %}
            {% if field_class %}</div>{% endif %}
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
