{% load i18n %}
<nav class="navbar navbar-expand px-0 navbar-dark np-bg-dark-900 sticky-top np-sticky-bar">
  <div class="container-md np-page-width">
    <span class="list-group navbar-brand me-5">
      <span class="h4 mb-0">{{ user.get_full_name|default:user.username }}</span>
      {% if user.is_superuser %}
        <span class="h6 w-100 text-center">admin</span>
      {% endif %}
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
      {# TABS (Articles, Tags, Digests) #}
      <div id="np-tabs" class="navbar-nav gap-3 me-auto" role="tablist"
          {% comment %}We want to seem single-page but at the same time route with urls.
           So we fetch full pages, but swap only changed parts {% endcomment %}
           hx-boost="true"
           hx-select="#np-body"
           hx-target="#np-body"
           hx-swap="outerHTML"
           hx-push-url="true">
        {# if we don't want history and only change in browser url, we should use HX-Push resposne header #}
        <a id="np-articles-tab" class="nav-link {% if active_tab == 'articles' %}active{% endif %}"
            {#           data-bs-toggle="pill" data-bs-target="#np-articles" type="button" role="tab"#}
           href="{% url 'articles:articles-all' %}">
          {% translate "Articles" context "tab title" %}
        </a>
        <a id="np-tags-tab" class="nav-link {% if active_tab == 'tags' %}active{% endif %}"
            {#           data-bs-toggle="pill" data-bs-target="#np-tags" type="button" role="tab"#}
           href="{% url 'articles:tags-all' %}">
          {% translate "Tags" %}
        </a>
        <a id="np-associations-tab" class="nav-link {% if active_tab == 'associations' %}active{% endif %}"
            {#           data-bs-toggle="pill" data-bs-target="#np-tags" type="button" role="tab"#}
           href="{% url 'articles:association-list' association_type='Journal' %}">
          {% translate "Associations" %}
        </a>
        {% comment %}<a id="np-inbox-tab" class="nav-link {% if active_tab == 'inbox' %}active{% endif %}"
           href="{% url 'articles:digests-list' %}">
          {% translate "Inbox" %}
        </a>{% endcomment %}
        <a id="np-reports-tab" class="nav-link {% if active_tab == 'reports' %}active{% endif %}"
           href="{% url 'articles:tabs-reports' %}"
           hx-boost="unset">
          {% translate "Reports" %}
        </a>
      </div>

      {% comment %} MORE OPTIONS (Logout, Change Pass) {% endcomment %}
      <div class="nav-item navbar-nav dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="np-navbar-more-dropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          {% translate "More" context "in nav menu" %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="np-navbar-more-dropdown">
          <li><a class="dropdown-item" href="#">{% translate "About the site" %}</a></li>
          <li><a class="dropdown-item" href="{% url 'password_change' %}">{% translate "Change Password" %}</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "Logout" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
