{% load customtemplates %}
{% load i18n %}
{% load l10n %}
<div id="np-pagination-container"
     hx-boost="true"
     hx-target="#np-dynamic-content"
     hx-select="#np-dynamic-content"
     hx-swap="outerHTML"
     hx-push-url="true">
  {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% comment %} PRIVIOUS {% endcomment %}
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link"
               href="{{ request.path }}?{% replace_param page=1 %}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="{{ request.path }}?{% replace_param page=page_obj.previous_page_number %}">
              <span aria-hidden="true">&lsaquo;</span>
            </a>
          </li>
        {% endif %}
        {% comment %} CURRENT {% endcomment %}
        <li class="page-item disabled">
          <a class="page-link" href="#">
            {{ page_obj.number|l10n_nums }} {% translate "of" context "1 of n in pagination" %} {{ page_obj.paginator.num_pages|l10n_nums }}
          </a>
        </li>
        {% comment %} NEXT {% endcomment %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link"
               href="{{ request.path }}?{% replace_param page=page_obj.next_page_number %}">
              <span aria-hidden="true">&rsaquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="{{ request.path }}?{% replace_param page=page_obj.paginator.num_pages %}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
