{% load i18n %}
{% load customtemplates %}
{% load jalali_tags %}

{% if article_list %}
  <hr/>
  <div class="text-muted fs-6 mb-2">
    {% if page_obj.paginator.count != 0 %}
      {{ page_obj.paginator.count|l10n_nums }} {% translate 'articles found' context "like 5 articles found" %}
    {% endif %}
  </div>
{% else %}
  <div class="text-center fw-bold text-muted fs-5 mt-4">
    {% translate 'No articles found' %}
  </div>
{% endif %}

<div class="list-group list-group-flush rounded-3">
  {% for article in article_list %}
    <div class="list-group-item list-group-item-action" dir="ltr"> {% comment %}dir="ltr"{% endcomment %}
      <div class="w-100">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="float-start
{% if LANGUAGE_CODE == 'fa' %}me-5 text-start
{% else %}float-end ms-5 text-end
{% endif %}">
          {% if LANGUAGE_CODE == 'fa' %}
            <small class="text-nowrap" dir="rtl">
              {{ article.publish_date|to_jalali:'%d %B %Y'|l10n_nums }}
            </small>
          {% else %}
            <small class="text-nowrap">
              {{ article.publish_date }} {# date:"SHORT_DATE_FORMAT" #}
            </small>
          {% endif %}
          <div class="clearfix"></div>
        </div>
        <a class="link-dark" href="{% url "articles:article-detail" article.id %}"
           hx-get="{% url "articles:article-detail" article.id %}"
           hx-select="#np-content"
           hx-target="#np-content"
           hx-swap="outerHTML"
           hx-push-url="true"><h5>{{ article.title|truncatechars:100 }}</h5>
        </a>
      </div>
      <div>{{ article.content|default:""|truncatechars:130 }}</div>
      {% with article_tags=article.tags.all %}
        {% if article_tags %}
          <div class="mb-1"></div>
          {% for tag in article_tags|slice:':5' %}
            <span class="badge bg-tag rounded-pill">{{ tag }}</span>
          {% endfor %}
          {% if article_tags|length > 5 %}
            <span class="badge bg-primary rounded-pill">+{{ article_tags|length|add:'-5' }}</span>
          {% endif %}
          {% if article.has_comments %}
            <span class="align-baseline {% if LANGUAGE_CODE == 'fa' %}float-start me-4{% else %}float-end ms-4{% endif %}">
              <i class="text-black text-opacity-75 bi bi-stickies-fill"></i>
            </span>
          {% endif %}
        {% endif %}
      {% endwith %}
    </div>
  {% endfor %}
</div>

<div class="mt-3"></div>
{% include 'pagination.html' %}
