{#{% load humanize %}#}
{% load i18n %}
{% load l10n %}
{% load customtemplates %}
{% load jalali_tags %}
<div id="np-article-list">
  <div class="mt-3"></div>

  {# SORT TYPE #}
  {% if article_list %}
    <div class="row row-cols-auto gx-4 gy-2 justify-content-between align-items-baseline">

      {% if sortable %}
        <div class="d-inline-flex align-items-baseline">
          {% include 'sort.html' %}
        </div>
      {% endif %}

      {% include 'export.html' %}
    </div>
  {% endif %}
  <div class="mt-2"></div>
  {% include 'raw_article_list.html' %}
</div>
