{% load customtemplates %}
{% load i18n %}
<label for="np-sort-key" class="form-label me-3 text-nowrap">
  {% translate "Sort by" %}
</label>
<div class="input-group input-group-sm w-auto">
  <select id="np-sort-key" class="form-select" onchange="updateHiddenSortInput()">
    {% for key, i18n_key in available_sort_keys %}
      <option value="{{ key }}" {% if key == sort_key %}selected{% endif %}>{% translate i18n_key %}</option>
    {% endfor %}
  </select>
  <button class="btn btn-outline-dark opacity-75" type="button" onclick="toggleSortOrder();updateHiddenSortInput();">
    {% if sort_order == "-" %}
      <span id="np-sort-order" class="bi bi-sort-down"></span>
    {% else %}
      <span id="np-sort-order" class="bi bi-sort-down-alt"></span>
    {% endif %}
  </button>
</div>
<input name="order_by" class="visually-hidden" value="{{ sort_order }}{{ sort_key }}" type="hidden"
       hx-get="{{ request.path }}?{% replace_param order_by='' page=1 %}"
       hx-trigger="change"
       hx-select="#np-dynamic-content"
       hx-target="#np-dynamic-content"
       hx-swap="outerHTML"
       hx-push-url="true"/>
